body {
    background-color: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

#mainNav {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNav .nav-link {
    color: white;
}

#mainNav .nav-link:hover {
    color: #ea1c2c;
}

#mainNav .navbar-brand {
    color: #ea1c2c;
}

#writingRow span {
    color: #ea1c2c;
}

#writingRow h1 {
    font-weight: 100;
    font-size: 3rem;
}

#lolipop p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.2rem;
}

#lolipop p:first-child {
    font-size: 2.0rem;
    color: #ea1c2c
}

#mainNav.scrolled {
    background: rgb(222, 192, 222);
    transition: background 700ms;
}

@media(max-width: 1000px) {
    #writingRow h1 {
        font-size: 2.5rem;
    }
}